.popup_register-confirm {
    
}
.popup_register-confirm::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.5;
    transition: opacity 0.3s;
    z-index: -1;
  }
  
 