.profile {
  margin: 42px auto 0;
}

@media screen and (min-width: 768px) {
  .profile {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .profile {
    margin: 40px 200px 0;
  }
}
