.profile__subtitle {
  width: 282px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #ffffff;
  margin: 14px 0 0 19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .profile__subtitle {
    margin-left: 0;
    text-align: start;
  }
}

@media screen and (min-width: 1280px) {
  .profile__subtitle {
    margin-top: 16px;
    width: 336px;
    font-size: 18px;
    line-height: 1.22;
  }
}
